.findOrder {
	min-height: calc(100vh - 70px);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.findOrder * {
	font-family: "Montserrat";
}

.findOrder__container {
	width: 30%;
	height: 100%;
	padding: 30px;
	border-radius: 20px;
	background: #fff;
	min-height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 4px 6px 25px 10px rgb(201, 199, 199);
	transform: translateY(-60px);
}

.findOrder__container-findOrder {
	text-align: center;
	margin-bottom: 20px;
}

.findOrder__search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: fit-content;
	height: 50px;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 1px 3px 10px #bbb;
}

.findOrder__searchInput {
	padding: 0 20px;
	height: 100%;
	flex: 1;
	border: none;
	outline: none;
	font-size: 1.1rem;
	border-radius: 10px 0 0 10px;
}

.findOrder__searchButton {
	border: none;
	background: #fff;
	border-radius: 0 10px 10px 0;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s linear;
	flex: 0.1;
	color: darkgray;
	cursor: pointer;
	height: 100%;
	outline: none;
}

.findOrder__searchButton > * {
	font-size: 2.6rem;
}

.findOrder__searchButton:hover {
	background: dodgerblue;
	color: white;
}

.findOrder__searchButton:active {
	background: rgb(1, 100, 199);
}

.findOrder__foundedOrder {
	background: white;
	margin: 80px auto 0 auto;
	transition: background 0.1s linear;
	line-height: 1.5;
	padding: 10px 40px;
}

.findOrder__foundedOrder:hover {
	background: #ddd;
}

.findOrder__foundedOrder-number {
	padding: 10px 0;
	text-decoration: underline;
	color: blue;
}

.findOrder__foundedOrder-name,
.findOrder__foundedOrder-email,
.findOrder__foundedOrder-date {
	font-size: small;
}

@media only screen and (max-width: 1400px) {
	.findOrder__container {
		width: 35%;
	}
}

@media only screen and (max-width: 1100px) {
	.findOrder__container {
		width: 45%;
	}
}

@media only screen and (max-width: 1000px) {
	.findOrder__container {
		width: 50%;
	}
}

@media only screen and (max-width: 900px) {
	.findOrder__container {
		width: 60%;
	}
}

@media only screen and (max-width: 600px) {
	.findOrder__container {
		width: 80%;
	}
}

@media only screen and (max-width: 430px) {
	.findOrder__container {
		width: 96%;
	}
}
